<section id="banner">
  <div class="banner d-flex">
    <div class="w-100 banner-mask">
      <div class="container text-white d-flex h-100">
        <div class="row align-items-center">
          <div class="col-md-10 mt-5">
            <h1 id="welcome-to-open-identity-platform-community">{{page.landing-title}}</h1>
            <p class="text-white">{{page.landing-title2}}</p>
            <p class="text-white">{{page.landing-title3}}</p>
            <div>
              <a class="btn" href="https://github.com/OpenIdentityPlatform" role="button">Join Us on GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="star-scheme" class="d-sm-none d-md-block mt-5">
  <div class="container text-center">
    <!--h2 class="pb-2">Open Identity Platform Ecosystem:</h2-->
    <a href="https://github.com/OpenIdentityPlatform" aria-label="Open Identity Platform">
      <div class="oip-star"></div>
    </a>
  </div>
</section>
