<section id="banner">
  <div class="banner d-flex">
    <div class="w-100 banner-mask">
      <div class="container text-white d-flex h-100">
        <div class="row align-items-center">
          <div class="col-md-10">
            <h1 id="welcome-to-open-identity-platform-community">{{page.landing-title}}</h1>
            <h5 class="text-white">{{page.landing-title2}}</h5>
            <h5 class="text-white">{{page.landing-title3}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="star-scheme" class="d-sm-none d-md-block mt-5">
  <div class="container text-center">
    <h2 class="pb-2">Open Identity Platform Ecosystem:</h2>
    <div class="oip-star">
    </div>
  </div>
</section>
