<footer class="footer bg-info text-white">
  <div class="container">
    <div class="row">
    <div class="col-6">
      <a class="text-white text-center align-middle" href="{{site.repo_url}}">&copy;  {{site.title}}</a>
    </div>
      <div class="col-6 text-right">
        <span class="align-middle" style="font-size: 36px; display: inline-block;" >
            <a target="_blank" href="https://github.com/OpenIdentityPlatform"><i class="fa fa-github"></i></a>
        </span>
      </div>
    </div>
  </div>
</footer>
