<footer class="footer bg-primary text-white">
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <a class="text-white text-center align-middle" href="{{site.repo_url}}">&copy;  {{site.title}}</a>
    </div>
      <div class="col-xs-12 col-sm-6 col-md-6 text-right">
          <a class="text-white pr-1" href="https://gitter.im/OpenIdentityPlatform/Lobby"><svg style="fill:white;" height="36" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8.501 4.001H10.5V24H8.501V4.001zm6.999 0V24h-2V4.001h2zM3.5 0h2.001v15H3.5V0zm15 4.001h2V15h-2V4.001z"/></svg></a>
          <span target="_blank"  class="align-middle" style="font-size: 36px; display: inline-block;" >
          <!--<a target="_blank" href="https://github.com/OpenIdentityPlatform"><svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Gitter icon</title><path d="M8.501 4.001H10.5V24H8.501V4.001zm6.999 0V24h-2V4.001h2zM3.5 0h2.001v15H3.5V0zm15 4.001h2V15h-2V4.001z"/></svg></a>-->
            <a target="_blank" href="https://github.com/OpenIdentityPlatform"><i class="fa fa-github"></i></a>
        </span>
      </div>
    </div>
  </div>
</footer>
