<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
      <a class="navbar-brand" href="/">{{site.title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <div id="google_translate_element"></div>
              <script type="text/javascript">
              function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                  {
                    pageLanguage: 'en', 
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                    includedLanguages: 'en,fr,es,ja,ko,pa,pt,ru,zh-CN',
                    autoDisplay: false,
                  }, 
                  'google_translate_element');
              }
              </script>
              <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="sr-only">(current)</span></a>
            <div class="dropdown-menu">
              {% for product in site.data.products %}
                <a class="dropdown-item" href="{{product.details_link}}">{{product.short_description}}</a>
              {% endfor %}
            </div>
          </li>
          <li class="nav-item {{page.navbar.blog_active}}">
            <a class="nav-link" href="/blog/">Blog <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a target="_blank" class="nav-link" href="{{site.repo_url}}"><i class="fa-brands fa-github"></i> Fork us<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
</nav>
