<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
  <div class="container">
      <a class="navbar-brand" href="/">{{site.title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/blog/">Our Blog <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a target="_blank" class="nav-link" href="{{site.repo_url}}"><i class="fa fa-github-alt"></i> Fork us<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
</nav>
