<div class="articles pt-2">
    <h4>About:</h4>
    <ul>
        {% assign i = 0 %}
        {% for post in site.posts %}  
            {% if post.products contains page.product %}
                <li>
                    <a href="{{post.url}}">
                        {%- if post.landing-title -%} {{ post.landing-title }} {%- else -%}{{ post.title}}{%- endif -%}
                    </a>
                </li>
                {% assign i = i | plus: 1 %}
                {% if i > 15 %}                
                    {% break %}
                {% endif %}
            {% endif %}

        {% endfor %}    
    </ul>
    <p>
        <a class="icon-link" href="https://www.youtube.com/results?search_query={%- if page.video -%}{{ page.video }}{%- else -%}{{page.reponame}}{%- endif -%}" target="_blank">
            <i class="fa-brands fa-youtube px-1 yt-icon"></i>Videos
        </a>                    
    </p>
</div>




