<div class="need-support">
  <button class="btn btn-primary"
   role="button"
   data-bs-html="true"
   data-bs-toggle="popover"
   data-bs-trigger="focus">
   <i class="fa-solid fa-circle-question"></i> Need support?
  </button>
  <div class="need-support-popover-container" style="display:none;">
    <div class="need-support-popover">
      <p>Open Identity Platform Community: <a href="https://github.com/orgs/OpenIdentityPlatform/discussions" target="_blank">Discussions</a></p>
      <p>Commercial support: <a href="https://github.com/OpenIdentityPlatform/.github/wiki/Approved-Vendor-List">Approved Vendor List</a></p>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
      var el = document.querySelector('[data-bs-toggle="popover"]');
      if (el) {
          var content = document.querySelector('.need-support-popover');
          new bootstrap.Popover(el, {
              placement: 'top',
              container: 'body',
              title: 'Contact Us',
              content: content
          });
      }
  });
</script>
