<div class="need-support">
  <button class="btn btn-primary"
   role="button"
   data-html="true"
   data-toggle="popover"
   data-trigger="focus">
    <i class="fa fa-question-circle" aria-hidden="true"></i> Need support?
  </button>
  <div class="need-support-popover-container" style="display:none;">
    <div class="need-support-popover">
      <p>Gitter: <a href="https://gitter.im/OpenIdentityPlatform/Lobby" target="_blank">https://gitter.im/OpenIdentityPlatform/Lobby</a></p>
      <p>E-mail: <a href="mailto:support@openam.org.ru">support@3a-systems.ru</a></p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
      $("[data-toggle=popover]").popover({placement:'top', container: 'body', title: "Contact Us", content: $('.need-support-popover')});
  });

</script>
