/*
$color1: rgba(5, 102, 141, 1);
$color2: rgba(2, 128, 144, 1);
$color3: rgba(0, 168, 150, 1);
$color4: rgba(2, 195, 154, 1);
$color5: rgba(240, 243, 189, 1);*/
/*
$color1: rgba(17, 75, 95, 1);
$color2: rgba(2, 128, 144, 1);
$color3: rgba(228, 253, 225, 1);
$color4: rgba(69, 105, 144, 1);
$color5: rgba(244, 91, 105, 1);*/

$color1: rgba(17, 75, 95, 1);
$color2: rgba(2, 128, 144, 1);
$color3: rgba(228, 253, 225, 1);
$color4: rgba(69, 105, 144, 1);
$color5: rgba(244, 91, 105, 1);

$primary-color: $color1;

$secondary-color: $color2;

$banner-mask-color: #114b5fc7;

/*
0B0C10
1f2833
c5c6c7
66fcf1
45a29e
*/
