.need-support {
  position: fixed;
  z-index: 100;
  right: 30px;
  bottom: 30px;

  a.btn.btn-primary, button.btn.btn-primary {
    background-color: $color5;
    border-color: $color5;
    color: white;
  }

  a.btn.btn-primary:active, button.btn.btn-primary:active, a.active, button.btn.btn-primary.active {
    background-color: $color5;
    border-color: $color5;
    color: white;
  }
}

.popover {
  max-width: 500px
}

div.skiptranslate > iframe {
  display: none !important;
} 

#google_translate_element {
  margin-top: 8px;
  margin-right: 8px;
}

.product-links {
  margin-left: 0;
  margin-right: 0;  
  a {
    white-space: nowrap;
  }
}

.articles {
  .yt-icon {
    color: red; 
    font-size: 1.2rem; 
    position: relative; 
    top: 2px;
  }
}
