<!doctype html>
<html lang="en">
  <head>
     {% include header.html %}
  </head>
  <body class="oip">
    {%comment%}
    <a href="{{site.repo_url}}"><img style="position: fixed; top: 0; left: 0; border: 0; z-index: 1050;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
    {%endcomment%}
    {% include navbar.html %}
     {% if page.landing == true %}
      {% include banner.html %}
     {% endif %}
     <section id="main-section">
      <div id="main" class="container">
        {% if page.share-buttons == true %}
          {% include share-buttons.html%}
        {% endif %}
        {{content}}
      </div>
    </section>
    {% include footer.html %}
    {% include scripts.html %}
    {% include widgets.html %}
  </body>
</html>
